<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kursach_1.Properties.Settings.publishing_houseConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=publishing_house;User ID=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>